Тема “Работа с данными в Pandas”
================================

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
Создайте датафрейм authors со столбцами author_id и author_name,
 в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:
 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [2]:
import pandas as pd
authors = pd.DataFrame({
    'author_id': [1,2,3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [3]:
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]
})
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [4]:
authors_price = pd.merge(authors, books, on='author_id', how='left')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Создайте датафрейм top5, в котором содержатся строки из
 authors_price с пятью самыми дорогими книгами.

In [5]:
sorted_authors_price = authors_price.sort_values(by=['price'], ascending=False)
top5 = sorted_authors_price[:5]
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:

* author_name
* min_price
* max_price
* mean_price,

в которых должны содержаться соответственно

* имя автора
* минимальная
* максимальная
* средняя цена на книги этого автора

In [10]:
authors_data = authors_price.drop(['book_title', 'author_id'], axis=1)
# authors_min = authors_data.groupby('author_name').min()
# authors_max = authors_data.groupby('author_name').max()
# authors_mean = authors_data.groupby('author_name').mean()
# authors_stat = pd.merge(authors_min, authors_max, on='author_name', how='inner')
# authors_stat = pd.merge(authors_stat, authors_mean, on='author_name', how='inner')
# authors_stat = authors_stat.rename(columns={
#     'price_x': 'min_price',
#     'price_y': 'max_price',
#     'price': 'mean_price',
# })
authors_stat = authors_data.groupby('author_name')['price'].agg(['min', 'max', 'mean']).\
    rename(columns={'min':'min_price', 'max':'max_price', 'mean': 'mean_price'})
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000


Создайте новый столбец в датафрейме authors_price под названием cover,
в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая.
В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

***Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.***

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.
Используйте для этого функцию pd.pivot_table.
При этом столбцы должны называться "твердая" и "мягкая",
а индексами должны быть фамилии авторов.

Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
 Затем загрузите из этого файла датафрейм и назовите его book_info2.
 Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.